{"filter":false,"title":".gitignore","tooltip":"/.gitignore","undoManager":{"mark":0,"position":0,"stack":[[{"start":{"row":0,"column":0},"end":{"row":7,"column":9},"action":"insert","lines":["*.pyc","*~","/.vscode","__pycache__","myvenv","db.sqlite3","/static",".DS_Store"],"id":1}]]},"ace":{"folds":[],"scrolltop":0,"scrollleft":0,"selection":{"start":{"row":7,"column":9},"end":{"row":7,"column":9},"isBackwards":false},"options":{"guessTabSize":true,"useWrapMode":false,"wrapToView":true},"firstLineState":0},"timestamp":1637714863871,"hash":"8cbfa13950e4bb1c3448806831b8b7c93256a6eb"}